*{
    margin:0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:#0c3575;
    color:beige;
    height:5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color:#0c3575;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
   background-color: #1e4a8f;
}

img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;

}

#user-score, #comp-score{
    font-size: 4rem;
}

#msg{
    font-size: 2rem;
    color: beige;
    background-color: #0c3575;
    padding:1rem;
    display: inline;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 4rem;
}